<h1>Edit task</h1>

<%= form_with model: @task do |f| %>
  <div><%= f.label :title %></div>
  <div STYLE="margin-bottom:15px"><%= f.text_field :title %></div>
  <div><%= f.label :details %></div>
  <div STYLE="margin-bottom:15px"><%= f.text_field :details %></div>
  <div><%= f.label :completed? %></div>
  <div STYLE="margin-bottom:30px"><%= f.check_box :completed %></div>
  <button STYLE="margin-bottom:30px">Update task</button>
<% end %>

<%= link_to tasks_path do %>
  <small> ⃪ Back to list </small>
<% end %>
